:root {
  --primary: #eeeeee;
  --background: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
}

a {
  font-weight: 500;
  color: #eeeeee;
  text-decoration: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.5rem;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  min-height: 64px;

  &.compact {
    min-height: 40px;
  }

  & .actions {
    margin-left: auto;
    display: none;
  }

  &:hover {
    background: rgba(0, 0, 0, 15%);

    & .actions {
      display: block;
    }
  }
}

.clickable {
  cursor: pointer;
}
